@model Mvc.Models.Dtos.ChangePasswordDto

@{
    ViewData["Title"] = "ChangePassword";
}

<h2 class="text-center">修改密碼</h2>

<form asp-controller="Auth" asp-action="ChangePassword" class="mt-3 w-50 mx-auto">
    <div class="form-group mb-2">
        <label asp-for="oldPassword">舊密碼</label>
        <input asp-for="oldPassword" class="form-control" />
        <span asp-validation-for="oldPassword" class="text-danger"></span>
    </div>

    <div class ="form-group mb-2">
        <label asp-for="newPassword">新密碼</label>
        <input asp-for="newPassword" class="form-control" />
        <span asp-validation-for="newPassword" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="newPasswordVaild">再次輸入新密碼</label>
        <input asp-for="newPasswordVaild" type="password" class="form-control" />
        <span asp-validation-for="newPasswordVaild" class="text-danger"></span>
    </div>

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">@ViewBag.Error</div>
    }

    <button type="submit" class="btn btn-primary w-100">修改</button>
</form>

