@{
    ViewData["Title"] = "Profile";
}

<div>
    <h2>使用者資料</h2>
    <p>暱稱：@Model.Username</p>
    <p>信箱：@Model.Email</p>
    <p>權限：@Model.Role</p>
    <p>註冊時間：@Model.CreateTime</p>
    
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="ManagerUsers">管理使用者</a>
    }
    <a asp-action="ChangePassword">修改密碼</a>
</div>